:root {
    --primary: #c51f1a;
    --secondary: #252525;
    --primary-hover: #b71a14;
    --primary-dark: #e96100;

    --rgba-primary-1: rgb(197, 31, 26, 0.1);
    --rgba-primary-2: rgb(197, 31, 26, 0.2);
    --rgba-primary-3: rgb(197, 31, 26, 0.3);
    --rgba-primary-4: rgb(197, 31, 26, 0.4);
    --rgba-primary-5: rgb(197, 31, 26, 0.5);
    --rgba-primary-6: rgb(197, 31, 26, 0.6);
    --rgba-primary-7: rgb(197, 31, 26, 0.7);
    --rgba-primary-8: rgb(197, 31, 26, 0.8);
    --rgba-primary-9: rgb(197, 31, 26, 0.9);

    /* Other */
    --theme-text-color: #fff;
    --title: #232323;
}
